{% extends 'base.html.twig' %}

{% block title %}Modifier votre CV
{% endblock %}

{% block body %}
	<h1 class="uppercase font-bold text-center text-3xl p-5">Modifier votre Cv</h1>

	{{ include('cv/_form.html.twig', {'button_label': 'Mettre a jour'}) }}

	<a href="{{ path('app_cv_index') }}">back to list</a>

{% endblock %}