{% extends 'base.html.twig' %}

{% block title %}Hello PageController!
{% endblock %}

{% block body %}
	<div class="container mx-auto lg:max-w-screen-xl md:max-w-screen-md px-4 pt-20 text-black">
		<div class="grid grid-cols-1 lg:grid-cols-12 items-center">
			<div class="col-span-6">
				<h1 class="text-4xl lg:text-7xl font-semibold mb-5 text-black  md:4px lg:text-start text-center">Cook anything with the experts</h1>
				<p class="text-black/55 lg:text-lg font-normal mb-10 lg:text-start text-center">Sed ut perspiciatis unde omnis iste natus error sit voluptatem
					<br>
					accusantium doloremque laudantium, totam</p>
				<div class="md:flex align-middle justify-center lg:justify-start">
					<a class="text-xl w-full md:w-auto font-medium rounded-full py-5 px-6 bg-primary text-primary lg:px-14 mr-6 border border-primary href=" #cook-section">Lets cook</a>
					<a class="flex border w-full md:w-auto mt-5 md:mt-0 border-primary justify-center rounded-full text-xl font-medium items-center py-5 px-10 text-primary" href="#about-section">Inscription</a>
				</div>
			</div>
			<div class="col-span-6 flex justify-center relative">
				<img src="/images/homepage_image.jpg"></div>
		</div>
	</div>v>
</div>{% endblock %}